# Git
.git
.gitignore

# Docker
.docker
docker-compose.override.yml
docker-compose.prd.yml
docker-compose.staging.yml
docker-compose.dev.yml

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/